html {
    background-color: var(--color-complement-1);
}

body {
    background-color: inherit;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    padding-right: 5%;
    padding-left: 5%;
    width: auto;
    flex-basis: 100%;
    background-color: white;
    /*box-shadow: 3px 0px 25px black;*/
}

.pageTitle {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 4rem;
    font-weight: bolder;
}

.button-link {
    width: 100%;
    background-color: var(--color-primary-2);
    display: block;
    padding: 6px 0px 6px 0px;
}

.button-link:hover {
    background-color: var(--color-primary-4);
}