body {
    width: 100%;
    height: 100%;
    background-color: var(--color-complement-1);
}

main {
    margin-left: 15%;
    margin-right: 15%;
    padding-right: 5%;
    padding-left: 5%;
    width: auto;
    background-color: white;
}

.pageTitle {
    text-align: center;
    width: 100%;
}