@media only screen and (min-width: 1000px) {
    main {
        background: none;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .topData,
    .windData,
    .precipData,
    .hourlyData {
        background: white;
        border-radius: 20px;
    }
    .topData {
        order: 1;
    }
    .windData {
        order: 2;
    }
    .precipData {
        order: 3;
    }
    .hourlyData {
        order: 4;
    }
    .topData,
    .windData,
    .precipData {
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .topData {
        flex-grow: 2;
        margin-left: 5%;
        padding-left: 5%;
        padding-right: 5%;
        margin-right: 1%;
    }
    .windData,
    .precipData {
        flex-grow: 1;
        padding-left: 3%;
        padding-right: 3%;
        margin-right: 1%;
    }
    .precipData {
        margin-right: 5%;
    }
    .hourlyData {
        width: 100%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #hourlyDataTitle,
    #windDataTitle,
    #precipDataTitle {
        margin: 0%;
    }
    #hourlyDataTitle {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #windDataTitle,
    #precipDataTitle {
        padding-top: 5%;
    }
    /* Wind Box */
    .windData {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .windDataBoxTop {
        flex-grow: 1;
    }
    .windDataBoxMiddle {
        flex-grow: 2;
        font-size: 25px;
    }
    .windDataBoxBottom {
        flex-flow: 1;
        font-size: 20px;
        margin: 0%;
        padding: 0%;
    }
    /* Precipitation Box */
    .precipData {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .precipDataBoxTop {
        flex-grow: 1;
    }
    .precipDataBoxBottom {
        flex-grow: 2;
        margin: 0px;
        padding: 0px;
    }
    .precipDataInfo {
        font-size: 100px;
        text-align: center;
        margin: 0px;
    }
}
