/* http://paletton.com/#uid=31h0u0kryAdh1L3mpEEz5us-Ann */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-image: url(/project/Weather/images/cloudsblur.png);
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

table {
    border: 0;
}

h2 {
    text-align: center;
    margin-top: 5%;
}

.button {
    background-color: lightgray;
    border: none;
    padding: 7px;
    border-radius:10px;
}

.button:hover {
    background-color: gray;
}

.button:focus {
    outline-width: 0;
}


/* header crap */

header,
.title {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FFCF24;
    width: 100%;
}

header {
    height: 50px;
    position: relative;
    z-index: 1000;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}

/* css for the settings */

#settings {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FFCF24;
}

#toggleUnitButton {
    margin-left: 5px;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

#searchBar {
    width: 50%;
    background-color: #BA9100;
    border: none;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    margin-right: 5px;
}

#searchBar:focus {
    border: none;
    content: none;
    outline-width: 0;
}

/* Search bar placeholder color */
#searchBar::-webkit-input-placeholder {  /* WebKit, Blink, Edge */
    color: black;
}

#searchBar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: black;
}

#searchBar::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
}

#searchBar:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

#searchResults {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFCF24;
    text-align: center;
}

.result {
    width: 100%;
    color: black;
    padding-left: 5px;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.result:hover {
    background-color: #BA9100;
}

/* main crap */

main {
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0px;
    height: 100%;
    background-color: white;
    opacity: .75;
    overflow: auto;
}

#temperature {
    margin: 0px;
    padding-top: 5%;
    font-size: 100px;
    text-align: center;
}

.windDataInfo,
.precipDataInfo {
    text-align: center
}


/* temperature data */

.tempBottomSection {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

.forcastSection,
.highLowSection,
.locationSection {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    width: 100%;
}


/* hourly data table */

.hourlyData {
    display: block;
    visibility: visible;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 1%;
}

.hourlyDataTableDiv {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.hourlyDataTable {
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.hourlyDataTableTime {
    width: 4%;
    font-weight: bolder;
    border-bottom: 3px;
    border-bottom-color: black;
}

.hourlyDataTableTemp {
    width: inherit;
    font-style: italic;
}

#windDirection {
    text-align: center;
}


/* Footer crap */

footer {
    bottom: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: white;
    opacity: .75;
}

.footer {
    margin-bottom: 0px;
}


/* Other Crap */