doctype html
html
    head
        title About - DalenW
        style
            include ./styles/main.css
        style
            include ./styles/page_content.css
    body
        header
            include header.pug
        main
            h1(class="pageTitle") About