doctype html
html(lang="en")
    head
        title About - DalenW
        include head.pug
    body
        header
            include header.pug
        style
            include ./styles/page_content.css
        style
            include ./styles/about.css 
        main
            h1(class="pageTitle") About

            p(id="about-text") Hello. My name is Dalen Ward and this is my website.     