doctype html
html
    head
        title Contact - DalenW
        style
            include ./styles/main.css
    body
        header
            include header.pug
        main
            h1 Contact