doctype html
html(lang="en")
    head
        title Contact - DalenW
    body
        header
            include header.pug
        style
            include ./styles/page_content.css
        main
            h1(class="pageTitle") Contact