style
    include ./styles/header.css
div(id="header")
    div(id="titleDiv" class="headerDiv")
        svg(id="title")
            include ./images/Site_Logo.svg
    div(id="quicklinksDiv" class="headerDiv")

        div(class="quicklinksItemDiv")
            a(href="")
                div(class="quicklinksItem") About

        div(class="quicklinksItemDiv")
            a(href="")
                div(class="quicklinksItem") Contact
    
        div(class="quicklinksItemDiv")
            a(href="")
                div(class="quicklinksItem") Github

        div(class="quicklinksItemDiv")
            a(href="")
                div(class="quicklinksItem") Projects