style
    include ./styles/header.css
div(id="header")
    div(id="titleDiv" class="headerDiv")
        a(href="/")
            svg(id="siteTitle")
                include ./images/Site_Logo.svg
    div(id="quicklinksDiv" class="headerDiv")

        div(class="quicklinksItemDiv")
            a(href="/about")
                div(class="quicklinksItem") About

        div(class="quicklinksItemDiv")
            a(href="/contact")
                div(class="quicklinksItem") Contact
    
        div(class="quicklinksItemDiv")
            a(href="https://github.com/DalenW/")
                div(class="quicklinksItem") Github

        div(class="quicklinksItemDiv")
            a(href="/projects")
                div(class="quicklinksItem") Projects