doctype html
html
    head
        title Projects - DalenW
        style
            include ./styles/main.css
    body
        header
            include header.pug
        main
            h1 Projects