doctype html
html
    head
        title Projects - DalenW
        style
            include ./styles/main.css
        style
            include ./styles/page_content.css
    body
        header
            include header.pug
        main
            h1(class="pageTitle") Projects

            a(href="weather/home.html")
                h2(class="subTitle") Weather
            p This is a weather website I created while first learning web design in college. It's not much but it works.
            
            br

            a(href="hackintosh/index.html")
                h2(class="subTitle") Hackintosh
            p This is a hackintosh guide site I created for a final project. 

            br

            h2(class="subTitle") Test Projects
            p A collection of random projects

            a(href="test/catchthelink.html")
                h4 Catch the Link

            a(href="test/wordbubble.html")
                h4 Word Bubble
            