/* http://paletton.com/#uid=64E0U0krivXmOGeoYApuetttgnN */

@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=VT323');

* {
    font-family: 'Abel', sans-serif;
}

/* Global Stuff */

a {
    text-decoration: none;
    color: black;
}

h2 {
    color: #F7475F; 
}

/* Header */
header {
    background-color: #B40F26;
    text-align: center;
    width: 100%;
}

#title {
    text-decoration: none;
    margin-top: 0%;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 80px;
    padding: 15px;
}

main {
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

/* Intro */

.intro {
    text-align: center;
}

#introTitle {
    font-size: 35px;
}


/* Guide List */

#guideListTitle {
    font-size: 33px;
    text-align: center;
}

#guideList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
}

.guideListBox {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    box-shadow: 0 0 10px #000;
}

.guideListBoxImage {
    width: inherit;
    height: inherit;
    position: absolute;
}

.guideListBoxTitleBox {
    background-color: white;
    position: absolute;
    width: inherit;
}

.guideListBoxTitle {
    padding-left: 10px;
}

.guideListBox:hover {
    width: 205px;
    height: 205px;
    box-shadow: 0 0 20px #000;
    margin-left: 20px;
    margin-right: 20px;
}


/* Guide CSS */

#guidePage {
    margin-bottom: 80px;
}

.showGuide {
    height: inherit;
    min-height: 30px;
}

.showGuideButton {
    width: 100%;
    height: 100%;
    min-height: 30px;
    border: none;
    text-align: center;
    background-color: #385FB9;
}

.showGuideButton:hover {
    background-color: #18419D;
}

#guideTitle {
    text-align: center;
    font-size: 35px;
    margin: 0px;
    padding: 0px;
}

/* Guide */

#guide {
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
}

h6 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    margin-top: 15px;
    width: 600px;
}

.link {
    color: #EB6E0F;
}

.link:hover {
    color: white;
    background-color: #EB6E0F;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

p {
    margin: 4px;
    padding-left: 5%;
    padding-top: 5px;
}

quote {
    background-color: #f9f2f4;
    color: #F22440;
}

.code {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f4f5f7;
    color: #DF0C29;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

.guideImage {
    width: 900px;
    height: inherit;
}

.guideImageDiv {
    overflow-x: auto;
    overflow-y: hidden;
}

@media only screen and (min-width: 1400px) {
    

    #showGuideButtonTop {
        width: 135px;
        height: 40px;
        margin: 0px;
        margin-top: -40px;
        position: absolute;
    }
}